# Acceso USB sin root + arranque del servicio de usuario al enchufar.
SUBSYSTEM=="usb", ATTR{idVendor}=="0fd9", ATTR{idProduct}=="005e", TAG+="uaccess"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0fd9", ATTR{idProduct}=="005e", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}+="hd60s.service"
